<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--    指定包名-->
    <typeAliases>
        <package name="com.lin.ynnzbigdata.pojo"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://114.132.150.39:3306/ynnzbigdata"/>
                <property name="username" value="root"/>
                <property name="password" value="Lpw12345."/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="resource/com/lin/ynnzbigdata/dao/Mapper/Mappers.xml"/>
    </mappers>
</configuration>